<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Demo</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    </head>
    <body>
        <div class="w-screen h-screen bg-gray-100 py-4 px-4">
            <div class="flex flex-row justify-end mb-4 mr-4">
                <ul>
                    <li class="inline">
                        <a
                            target="_blank"
                            href="https://gpconsole.ekata.io"
                            class="text-gray-500"
                            rel="noreferrer"
                            >Client Console</a
                        >
                    </li>
                    <li class="inline">|</li>
                    <li class="inline">
                        <a
                            href="http://gpdocs.ekata.io"
                            class="text-gray-500"
                            target="_blank"
                            rel="noreferrer"
                            >Docs</a
                        >
                    </li>
                </ul>
            </div>
            <div class="container mx-auto">
                <h3 class="text-center md:text-3xl text-xl mb-4">
                    Demo Shop for Ekata.io Crypto Gateway Processor
                </h3>
                <p class="text-red-400 text-center text-xs">
                    Warning: Please do not send mainnet coins or tokens to this
                    demo site. This shop does not operate on mainnet coins or
                    tokens and is for demo purposes only
                </p>
                <div class="flex flex-col md:flex-row items-center flex-wrap">
                    {% for shop_item in shop_items %}
                    <div
                        class="bg-white shadow-md rounded-md p-4 flex flex-col mt-4 md:ml-4 shop-item"
                    >
                        <img
                            class="h-48 w-48 mx-auto"
                            src="{{ shop_item['image']['link'] }}"
                            alt="{{ shop_item['image']['alt'] }}"
                        />
                        <div
                            class="flex flex-row justify-between align-middle mt-2"
                        >
                            <p class="text-black leading-4">
                                {{ shop_item['name'] }}
                            </p>
                            <p class="text-gray-500 text-xs">
                                ${{ shop_item['price'] }}
                            </p>
                        </div>
                        <button
                            class="p-2 mt-2 bg-green-500 rounded-md text-white buy-now-btn"
                            data-price="{{ shop_item['price'] }}"
                        >
                            Buy Now
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="{{form_url}}"></script>
        <script type="text/javascript">
            const gatewayform = new EkataGatewayProcessorForm({
                projectID: "{{project_id}}",
                onError: (data) => console.log(data),
                onCloseForm: (reason) => console.log(reason),
                onSuccess: (data) =>
                    fetch("/payment-success", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    }).then(() => {
                        window.location = "/success";
                    }),
            });
            function showPaymentForm(itemPrice) {
                fetch("/create-form", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ item_price: itemPrice }),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        gatewayform.showPaymentForm(data.form_id);
                    });
            }
            const btns = document.querySelectorAll(".buy-now-btn");
            btns.forEach((btn) =>
                btn.addEventListener("click", (e) => {
                    showPaymentForm(e.target.getAttribute("data-price"));
                })
            );
        </script>
    </body>
</html>
