<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Payment Success</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    </head>
    <body>
        <div class="w-screen h-screen bg-gray-100 py-4">
            <div class="container mx-auto">
                <div
                    class="
                        flex flex-col
                        md:flex-row
                        justify-center
                        items-center
                    "
                >
                    <p>Thank you for your purchase</p>
                </div>
            </div>
        </div>
    </body>
</html>
